:host {
  display: block;
  padding: 5px 15px;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  &__message {
    width: 90%;
  }

}

.reload-btn {
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;

  &:active {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.28);
  }

  &:before {
    content: '\21BB';
  }
}